<div class="container-fluid py-4">
    <div class="container">
        <div class="d-flex flex-column justify-content-center gap-4 text-center gradient-dark p-20 rounded-8">
            <h1 class="text-light text-center fade-in-up delay-1">Want to Know More?</h1>
            <p class="text-transparent-white-light-medium text-center fade-in-up delay-2">For more information on how Innova empowers global customers, speak to one of our sales team.</p>
            <div class="d-flex align-items-center justify-content-center fade-in-up delay-2">
                <a class="btn btn-primary" href="/contact/" type="button"><i class="ph ph-wechat-logo"></i>Contact Us</a>
            </div>       
        </div>
    </div>
</div>

<div class="container-fluid bg-neutral-extra-dark">
    <div class="container pt-15 pb-0">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-6 pb-4 d-flex justify-content-between pb-10">
            <div class="col mr-20">
                <h4 class="text-primary-extra-light">Innova Technologies</h4>
                <div class="d-flex flex-column mt-4">
                    <p class="text-transparent-white-light-medium">Subscribe to our developer newsletter</p>
                    <button class="btn btn-primary btn-outline btn-md">Subscribe</button>
                </div>
            </div>
            <div class="col">
                <p class="font-16px text-primary-extra-light">Resources</p>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="" 
                        class="footer-animation-link text-transparent-white-light-medium">Customer Stories</a></li>
                    <li class="nav-item mb-2"><a href="" 
                           class="footer-animation-link text-transparent-white-light-medium">Documentation</a></li>
                    <li class="nav-item mb-2"><a href=""
                           class="footer-animation-link text-transparent-white-light-medium">Event</a></li>
                    <li class="nav-item mb-2"><a href=""
                           class="footer-animation-link text-transparent-white-light-medium">Library</a></li>
                </ul>
            </div>
            <div class="col">
                <p class="font-16px text-primary-extra-light">Services</p>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="" 
                           class="footer-animation-link text-transparent-white-light-medium">Healthcare</a></li>
                    <li class="nav-item mb-2"><a href="" 
                           class="footer-animation-link text-transparent-white-light-medium">Finance</a></li>
                    <li class="nav-item mb-2"><a href="" 
                           class="footer-animation-link text-transparent-white-light-medium">Government</a></li>
                </ul>
            </div>
            <div class="col">
                <p class="font-16px text-primary-extra-light">Support</p>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="" 
                           class="footer-animation-link text-transparent-white-light-medium">Subscription</a></li>
                    <li class="nav-item mb-2"><a href="" 
                           class="footer-animation-link text-transparent-white-light-medium">Updates</a></li>
                    <li class="nav-item mb-2"><a href="" 
                           class="footer-animation-link text-transparent-white-light-medium">Consulting Services</a></li>
                </ul>
            </div>
            <div class="col">
                <p class="font-16px text-primary-extra-light">Company</p>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/about/"
                        class="footer-animation-link text-transparent-white-light-medium">About Us
                     </a></li>
                    <li class="nav-item mb-2"><a href="/contact/"
                           class="footer-animation-link text-transparent-white-light-medium">Contact Us
                        </a></li>
                    <li class="nav-item mb-2"><a href="mailto:info@innova.com"
                           class="footer-animation-link text-transparent-white-light-medium">info@innova.com</a>
                    </li>
                    <li class="nav-item mb-2"><a href="tel:+13464449777"
                           class="footer-animation-link text-transparent-white-light-medium"> +1
                            386 111 3444</a></li>
                </ul>
            </div>
        </footer>

        <div class="d-flex justify-content-center align-items-center pb-10">
            <img src="../../img/app-screens/Line 1.svg" class="w-100  d-none d-lg-block" alt="Light Horizontal Line">
            <div class="d-flex align-items-center justify-content-center">
                <a href=""><i class="ph ph-twitter-logo hover-fx"></i></a>
                <a href=""><i class="ph ph-linkedin-logo hover-fx"></i></a>
                <a href=""><i class="ph ph-facebook-logo hover-fx"></i></a>
                <a href=""><i class="ph ph-youtube-logo hover-fx"></i></a>
                <a href=""><i class="ph ph-instagram-logo hover-fx"></i></a>
            </div>
            <img src="../../img/app-screens/Line 1.svg" class="w-100 d-none d-lg-block" alt="Light Horizontal Line">
        </div>


        <div class="d-flex align-items-center justify-content-center flex-wrap gap-4 pb-10">
            <a href="" 
               class="footer-animation-link small text-transparent-white-light-medium">Modern Slavery Statement</a>
            <a href="" 
               class="footer-animation-link small text-transparent-white-light-medium">Do Not Sell My Personal Information</a>
            <a href=""
               class="footer-animation-link small text-transparent-white-light-medium">Report a Problem With This Page</a>
        </div>
        <footer class="d-flex flex-column justify-content-center align-items-center py-3">
            <div class="font-xs text-transparent-white-light-medium">&copy; {{ site.time | date: "%Y" }} Innova Technologies</div>
        </footer>
    </div>
</div>
