{% assign sty = "nav-section-dark" %}
<nav class="navigation-bar {{ sty }}">
    <header>
        <div class="container-lg">
            <nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
                <div class="container-fluid py-2">
                    <a class="navbar-brand" href="/"><img src="../../../img/site-logo/white-logo.svg" width="150" alt="Logo"/></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav item-list fw-bold">
                            <!-- <li class="nav-item dropdown px-2">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Sevices
                                    <span><i class="ph ph-caret-down"></i></span>
                                </a>
                                <ul class="dropdown-menu sm-font" id="resources">
                                    <li><a class="dropdown-item" href="" target="_blank">Documentation</a></li>
                                    <li><a class="dropdown-item" href="" target="_blank">Event</a></li>
                                    <li><a class="dropdown-item" href="" target="_blank">Library</a></li>
                                </ul>
                            </li> -->
                            <li class="nav-item px-2"><a class="nav-link" href="/service/">Services</a></li>
                            <li class="nav-item px-2"><a class="nav-link" href="/about/">About Us</a></li>
                            <li class="nav-item px-2"><a class="nav-link" href="/contact/">Contact Us</a></li>
                        </ul>
                        <div class="d-flex align-items-center gap-2 pl-2">
                            <a type="button" class="btn btn-md btn-primary" href="">Login</a>
                            <a type="button" class="btn btn-md btn-primary btn-outline" href="">Register</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</nav>
