/* Innova contact page form */
.dark-form {
    input,
    select,
    textarea {
        width: 100% !important;
        padding: $spacer-3 !important;
        margin-bottom: $spacer-4 !important;
        border: 1px solid $color-transparent-white-dark !important;
        border-radius: $spacer-3 !important;
        background-color: transparent !important;
        font-size: $spacer-4 !important;
        color: $color-transparent-white !important;
        outline: none !important;
    }

    input[type="checkbox"] {
        width: 3%;
        margin-right: 20px;
    }

    input[type="text"]:focus,
    select:focus,
    textarea:focus {
        border: 1px solid #ffca6d !important;
    }

    textarea {
        height: 120px;
        resize: none;
    }

    label {
        font-size: 14px;
        margin-bottom: 3px !important;
        color: $color-white;
    }
}

/* INNOVA contact page form */
.light-form {
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    select,
    textarea {
        width: 100% !important;
        padding: $spacer-3 !important;
        margin-bottom: $spacer-4 !important;
        border: 1px solid $color-neutral-lighter!important;
        border-radius: $spacer-3 !important;
        background-color: $color-neutral-extra-light !important;
        font-size: $spacer-4 !important;
        color: $color-neutral-darkest !important;
        outline: none !important;
    }

    input[type="checkbox"] {
        width: 3%;
        margin-right: 20px;
    }

    input[type="text"]:focus,
    select:focus,
    textarea:focus {
        border: 1px solid #ffca6d !important;
    }

    textarea {
        height: 120px;
        resize: none;
    }

    label {
        font-size: 14px;
        margin-bottom: 3px !important;
        color: $color-dark;
    }
}
